@import "../../static/styles/variables";

.footer {
  max-width: 100%;
  width: 100%;
  height: 88px;
  position: fixed;
  background-color: $colorPrimaryBlack;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  bottom: 0;
  
  &__text {
    color: $colorPressedGrey;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }
}
