$colorWhite: #fff;
$colorBlack: #000;
$colorPrimaryBlack: #20232A;
$colorHoverGrey: #505E68;
$colorPressedGreyButton: #909fa9;
$colorPressedBlack: #2C343A;
$colorPressedGrey: #F3F5FA;
$colorActiveGrey: #CAD2D6;
$colorPrimaryBlue: #40C4FF;
$colorPrimaryYellow: #FFD740;
$colorErrorRed: #da1b41;
$colorSecondaryBlack: #131416;
$colorPink: #ff4081;

$timeFast: 0.15s;
$timeMedium: 0.3s;